@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Reproduction</h1>
    <p>If you see this you probably launched the application the first time.</p>

</div>
